html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  color: $lightGray;
  background: $mainBlue;
  font-family: $openSans;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: $white;
  font-family: $raleway;
}

.container {
  margin: 0 auto;
  max-width: 78rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  @include breakpoint-up(medium) {
    padding-left: 1.45rem;
    padding-right: 1.45rem;
  }
}

button,
.button {
  border: 0;
  outline: 0;
  color: $white;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  display: inline-block;
  font-family: $raleway;
  transition: $transition;
  border-radius: 3.125rem;
  background: linear-gradient(90deg, $cyan 2%, $blue 100%);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 3.125rem;
    transition: opacity 150ms ease-in-out;
    background-color: rgba(255, 255, 255, 0.5);
  }

  &:hover::before {
    opacity: 1;
  }
}

// Flexbox
.flex {
  display: flex;

  &-ai-c {
    align-items: center;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }
}

// Grid
.grid {
  display: grid;

  &-ai-c {
    align-items: center;
  }
}
